

@media (max-width:1040px){
    header{
        padding: 12px 40px;
        /* display: none; */
        

    }
    header.sticky{
        padding:10px 20px;
    }
    header .navigation{
        display:none;
    }
    section{
        padding: 80px 20px;
    }
    .main .content{
        text-align: center;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content .column{
        position: relative;
        width: 100%;
        padding: 20px 0;

    }
    .about .content .col-left .img-card img{
        width: 100%;
    }
    .about .content .col-right{
        margin: 40px 0;
    }
    .services .content{
        flex-direction: column;
        padding: 20px 0 ;
        padding-right: 25px;

    }
    .portfolio-item img{
        width: 110%;
        padding-right: 20px;
        
    }

    
 