

@media (max-width:1040px){

    /*---hero section*/
    nav{
        padding: 12px 40px;
        /* display: none; */
        

    }
    nav.sticky{
        padding:10px 20px;
    }
    nav .nav-item{
        display:none;
    }
    .btn{
        font-size: 1.3em;
    }
    .main .content-main{
        text-align: center;
    }

    /*-----menu container--*/
    .nav-list{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: #120683; */
    } 
    .nav-menu-btn{
        /* background:url("./img/clipart3035828.png")no-repeat; */
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }  


    /*---about section--*/
    .about .content-img{
        flex-direction: column;
    }
    .about .content-img .column{
        position: relative;
        width: 100%;
        padding: 20px 0;

    }
    .about .content-img .col-left .img-card img{
        width: 100%;
    }
    .about .content-img .col-right .paragraph-text{
        font-size: 1em;
    }
    .about .content-img .col-right{
        margin: 40px 0;
    }


    /*---service section*/
    .services .content-service{
        flex-direction: column;
        padding: 20px 20px;
        padding-right: 15px;
        margin-right: 25px;

    }
    .services .content-service .card .info h2{
        font-size: 25px;
    }
    .services .content-service .card .info p{
        font-size: 17px;

    }
    .services .content-service .card .info{
        font-size: 18px;
    }


    /*--portfolio section--*/
    .portfolio-item img{
        width: 100%;
        padding-right: 10px;
        
    }

    /*--hire me section--*/
    .section-work h4{
        font-size: 20px;
    }


    /*--contact section--*/
    .contact .content{
        flex-direction:column;
        font-size:0.5rem;
    }
    .contact .contact-left{
        margin-bottom:40px;
    }
    .contact-form .second-row{
        flex-direction: column;

    }
    .contact-list li{
        font-size: 2em;
    }
    .contact-form .second-row input{
        width:100%;
    }


    /*--footer section--*/

    footer.footer-container{
        flex-direction:column;

    }
    footer.footer-container .about, .footer-container .info{
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction:column;
        margin-bottom:50px;

    }
    .footer-container .info ul{
        align-items:center;
        flex-direction:column;
        /* margin-left:5px; */
    }
    .footer-container .info ul li a {
        margin:5px 2px;
    }
    .footer-container hr{
        width:100%;
        height:2px;
        background:rgba(255,255,255,0.1);
        margin:10px 0 22px;
    }

       
    

        
}

    


    
 