/*=========major fixes starts here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    height: 1500px;
    font-family: 'Lato', sans-serif;
}
 img{
    /* height: 100%; */
    /* width: 100%; */
 }



/*first section starts here*/
.first-div{
    /* border: 5px solid pink; */
    height: 600px;
    width: 100%;
    background: #191919;
    padding-top: 30px; 


}
.first-div-content{
    text-align: center;
    /* border: 3px solid red; */
    /* height: 500px; */
    width: 80%;
    
    
}
.first-div-content ul  {
    display: flex;
    float: right;  
    list-style: none;
}
.first-div-content a {
    padding: 20px 35px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.first-div-content a :hover{
    color: #ff004f;
    transition: ease 1s;
    transform:scale(1.2);
    text-decoration: underline;
}
.logo{
    /* border: 2px solid brown; */
    height: 35px;
    width: 25px;
    margin: 20px 30px;
    background:#ff004f;
}
.logo-content{
    border: 2px solid white;
    height: 38px;
    width: 30px;
    padding: 5px 5px;

}
.logo-item h6{
    padding: 0 6px;
}
.logo-1{
    /* border: 2px solid brown; */
    height: 35px;
    width: 25px;
    margin: 20px 120px;
    background: #ff004f;
}
.logo-content-1{
    border: 2px solid white;
    height: 38px;
    width: 30px;
    padding: 5px 5px;

}
.logo-item-1 h6{
    padding: 0 6px;
}
.text{
    /* border: 3px solid black;  */
    display: flex; 
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    padding: 0 40px;
    margin: 8% auto;
    /* padding: 70px 30px; */
}
.about-write-up{
    width: 25%;
    padding:10px 20px;
    margin: 20px 0;
    border-radius:10px;
    border:none;
    color:#fff;
    background:#ff004f;
}
.about-write-up:hover{
    transition: all ease 3s;
    border: 2px solid #ff004f;
    background: transparent;
   
}

.text-content {
    display: flex;
    width: 190%;
    padding: 40px 0;
    margin: 30px 70px;
    color: white;
    flex-direction: column;
}
.text-content span{
    color:#ff004f;
    font-size: 50px;
}
.text-content a{
    text-decoration:none;
}
.text h1{
    font-size: 50px;
}
.text p{
    font-size: 20px;
    padding: 10px 0;
}
.text-img{
    border: 3px dashed #ff004f;
    height: 350px;
    width: 80%;
    float: right;
    margin-right:150px;
    border-radius: 50%;
    padding: 0 30px;
    background: url("./img/cart.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


/*first section ends here*/
/* about section starts here */
.about{
    /* border: 2px solid red; */
    background:#101010;
    /* padding:80px 0; */
    width: 100%;
    height: 700px;
    /* color:#fff; */
    
}
.about-me{
    padding: 30px 100px;
}
article{
    display: block;
    align-items: center;
    text-align: center;


}
    
article h1{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color:#fff;
}
article h1:after{
    content: "";
    height: 5px;
    width: 150px;
    background: #ff004f;
    display: block;
    margin: auto;
}
article img{
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 60px;
}
.about-content{
    padding:30px 50px;
    line-height:1.8;
    width: 80%;
    margin:0 10%;
    /* align-items: center; */
    text-align: center;
    color:#fac1d3;
}
.about-btn{
    padding:10px 20px;
    border-radius:10px;
    text-decoration: none;
    border:none;
    color:#fff;
    background:#ff004f;
}
.about-btn:hover{
    border: 2px solid #ff004f;
    background: transparent;
    /* transition: ease all 2s; */
    transform: scale(1.1);
}

/* about section ends here */

/* nav-section starts here*/
.nav-mobile {
    /* border: 3px solid blue; */
    display: none;
    width: 100%;
    align-items: center;
    
    justify-content: space-between;
    



}

.mobile-logo {
    height: 100px;
    width: 15%;
    /* font-size:80px; */
    /* padding: 5px 0; */
    /* margin: 0 20px; */
    /* border: 5px solid white; */


    /* z-index: 100; */
    /* background:red; */
}


.menu-container {
    /* border: 3px solid purple; */
    height: 30px;
    /* margin-top:70px ; */
    width: 30px;
    margin-right: 20px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    z-index: 100;
    /* animation: ripple 2s infinite; */

}

.menu {
    width: 100%;
    margin:20px 0;
    height: 3px;
    background:#ff004f;
    position: relative;
}

.menu::before {
    content: '';
    width: 100%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    transform: translateY(-10px);
}

.menu::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    transform: translateY(10px);
}

.showbutton .menu {
    background: transparent;
}

.showbutton .menu::before {
    transform: rotate(45deg);
    background: #ff004f;
}

.showbutton .menu::after {
    transform: rotate(-45deg);
    background: #ff004f;;
}

/*==========*/
.mobilelinks-container {
    transform: translateX(102%);
    background: var(--white-color);
    right: 0;
    /* display: none; */
    position: fixed;
    width: 80%;
    height: 40%;
    top: 0;
    /* padding: 20px 0; */
    /* transition: all 0.5s ease; */
    z-index: 3;

}

.showmobilelink {
    transform: translateX(0);
}



.mobilelink-content a {
    display: block;
    /* margin-top:50px; */
    text-align:center;
    text-decoration: none;
    /* padding: 20px 30px; */
    color: #ff004f;
    font-weight:20px;
    margin-top:60px;
    
    /* border-bottom: 2px solid white; */
    font-size: 20px;
    /* position: relative; */


}

.mobilelink-content ul {
    list-style: none;
    padding-top: 40px;
}

.mobilelink-content .active-link {
    padding: 20px 0;
    color:white;
    background: #ff004f;

}


.mobilelink-content a :hover {
    background: #ff004f;
    color: black;
    padding: 20px 0;
    /* transition:2s; */
    /* transform :scale(1.1); */

}
/* third section starts here */
.inner{
    padding-top: 20px;
    background: #191919;
}
.header{
    text-align: center;
    color:white;
    padding: 1rem;
    position: relative;
}
.header:after{
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background: #ff004f;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    /* font-size: 1.2rem; */
}
.skill-box{
    padding: 1rem;
    color:white;
    cursor: pointer;
}
.skill-title{
    margin: 0 auto;
    display: flex;
    background: #fff;
    width: 20%;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.skill-title h3{
    text-align: center;
}
.img{
    /* background: #fff; */
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 45px;
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* third section ends here */

/* footer section starts here */
.contact-me{
    width: 100%;
    height: 290px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact-me .button-two{
    background: #ff004f;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 2s;
}
.contact-me .button-two:hover{
    background: transparent;
    border: 2px solid #ff004f;
    cursor: pointer;
}
 



.contact{
    height: 480px;
    background: #191919;
    
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-left:10%;
}
.contact-left{
    padding: 30px 0;
    flex-basis: 35%;

}
.contact-left p{
    color: #fff;
}
.contact-right{
    flex-basis:60%;
}
.sub-title{
    color:#fff;
    padding:20px 0;
    font-size:40px;
}
span{
    color: #ff004f;
    padding:20px 0;
    font-size: 40px;
}
.contact-left p{
    margin-top:20px;

}
.contact-left p i{
    color:#ff004f;
    margin-right:15px;
    /* padding-bottom:30px; */
    font-size:20px;

}

.social{
    /* border: 3px solid beige; */
    display: flex;
 }
 .social li{
    list-style: none;
 }
 .social a{
    margin-right:15px;
    padding:18px 0;
    display:inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition:transform 0.5s;

 }
.social a:hover{
    color:#ff004f;
    transform:translateY(-5px);
}
.btn2{
    height:40px;
    width:20%;
    border:none;
    color:#fff;
    display:inline-block;
    background:#ff004f;
}
.contact-right form{
    width:100%;
    padding: 30px 0;
}
form input, form textarea{
    width:90%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius:6px;
}
.btn2{
    border-radius: 10px;
    padding:10px 20px;
    font-size:18px;
    margin-top:20px;
    /* text-align: center; */
    cursor:pointer;
}
.btn2:hover{
    background: transparent;
    color: white;
    border:3px solid #ff004f;
    transition: all 2s ease;
}
/* footer section starts here */
footer{
    background: #101010;
    height: 300px;
    text-align: center;
    color: #fff;
    /* margin-top: 20px 0; */
}
footer button{
    border: 2px solid #ff004f;
    padding: 15px 5px;
    background: #101010;
    color: #fff;
    font-size: 16px;
    /* margin-top: 20px 0; */
    
}
.btn3{
    padding: 40px 0;
    color: #fff;
}
.btn3 span{
    color: #fff;
    font-size: 15px;
    /* padding-left: 8px; */
    padding: 15px 8px;
    
}
.social2{
    /* border: 2px solid blue; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-right: 3%;
    margin-bottom: 20px;
    /* text-align: center; */
}
.social2 li{
    list-style: none;

}
.social2 a{
    /* height: 30px; */
    width: 90%;
    color: #fff;
    padding: 7px 0;
    text-decoration: none;
    border: 2px solid #ff004f;
    border-radius: 50%;
    margin-left: 25px;

}